<link rel="stylesheet" href="footer.css">
<div class="footer">
    <div class="directs">
        <div class="te-net">
            <div class="title">TE.net</div>
            <ul>
                <li> <a href="/hakkimizda">Hakkımızda</a> </li>
                <li> <a href="/kariyer">Kariyer</a> </li>
                <li> <a href="/ortaklik">Ortaklık</a> </li>
                <li> <a href="/guvenlik">Güvenlik ve Verilerin Saklanması</a> </li>
            </ul>
        </div>
        <div class="categories">
            <div class="title">Kategoriler</div>
            <ul>
                <li> <a href="/erkek">Erkek</a> </li>
                <li> <a href="/kadin">Kadın</a> </li>
                <li> <a href="/cocuk">Çocuk</a> </li>
                <li> <a href="/kategori">Diğer</a> </li>
            </ul>
        </div>
        <div class="help">
            <div class="title">Yardım</div>
            <ul>
                <li> <a href="/iade">İade İşlemleri</a> </li>
                <li> <a href="/sikca-sorulan-sorular">Sıkça Sorulan Sorular</a> </li>
            </ul>
        </div>
    </div>
    <div class="left">
        <div class="copyright">
            <i class="fa-solid fa-copyright"></i> 2023 EFTUN Copyright
        </div>
        <div class="logo">
            <img src="TE.png" alt="TE.net">
        </div>
    </div>
</div>
