        <link rel="stylesheet" href="header.css">
        <div class="header">
			<div class="logo"><a href="/">
				<img src="TE.png" alt="TE.net - Alışveriş Platformu">
			</a></div>
			<div class="redirects">
				<ul>
					<li> <a href="/"> <i class="fa-solid fa-house"></i> </a> </li>
					
					<li class="drop"> 

						<a href="/erkek"> <i class="fa-solid fa-mars"></i> Erkek</a>
						<ul>
							<li>
								<a href="/erkek/parfum" class="parfum-btn">Erkek Parfümleri</a>
								<img src="https://cdn.dsmcdn.com/ty464/product/media/images/20220628/21/131454838/508625641/1/1_org.jpg" alt="Parfüm">
							</li>
							<li>
								<a href="/erkek/tshirt">Erkek T-Shirtleri</a>
								<img src="https://cdn.dsmcdn.com/ty676/product/media/images/20230105/16/252453683/95309243/1/1_org.jpg" alt="T-Shirt">
							</li>
							<li>
								<a href="/erkek/esofman">Erkek Eşofmanları</a>
								<img src="https://cdn.dsmcdn.com/ty690/product/media/images/20230118/18/260993417/677324291/1/1_org.jpg" alt="Eşofman">
							</li>
							<li>
								<a href="/erkek/pantolon">Erkek Pantolonları</a>
								<img src="https://cdn.dsmcdn.com/ty808/product/media/images/20230331/12/316202208/410147085/1/1_org.jpg" alt="Pantolon">
							</li>
							<li>
								<a href="/erkek/ayakkabi">Erkek Ayakkabıları</a>
								<img src="https://cdn.dsmcdn.com/ty822/product/media/images/20230412/14/323129061/909131372/1/1_org.jpg" alt="Ayakkabı">
							</li>
							<li>
								<a href="/erkek/saat">Erkek Saatleri</a>
								<img src="https://cdn.dsmcdn.com/ty857/product/media/images/20230501/10/336075236/541881981/1/1_org.jpg" alt="Saat">
							</li>
						</ul>
					</li>

					<li class="drop"> <a href="/kadin"> <i class="fa-solid fa-venus"></i> Kadın</a> 
						<ul>
							<li> <a href="/kadin/parfum">Kadın Parfümleri</a> </li>
							<li> <a href="/kadin/tshirt">Kadın T-Shirtleri</a> </li>
							<li> <a href="/kadin/esofman">Kadın Eşofmanları</a> </li>
							<li> <a href="/kadin/pantolon">Kadın Pantolonları</a> </li>
							<li> <a href="/kadin/ayakkabi">Kadın Ayakkabıları</a> </li>
							<li> <a href="/kadin/saat">Kadın Saatleri</a> </li>
						</ul>
					</li>
					
					<li> <a href="/cocuk"> <i class="fa-solid fa-child"></i> Çocuk</a> </li>
					
					<li class="drop"> <a href="/kategori"><i class="fa-solid fa-boxes-stacked"></i> Diğer</a> 
						<ul>
							<li><a href="/kategori/parfumler">Parfüm</a></li>
							<li><a href="/kategori/saatler">Saatler</a></li>
							<li><a href="/kategori/sarj-aleti">Şarj Aletleri</a></li>
							<li><a href="/kategori/aydinlatma">Aydınlatma Ürünleri</a></li>
						</ul>
					</li>
				</ul>
				<div class="line"></div>
			</div>
			<form class="search" method="post">
				<input type="text" name="search" placeholder="Aradığınız ürün veya markayı yazın...">
				<i class="fa-solid fa-magnifying-glass"></i>
				<input type="submit" value="" style="display: none;">
			</form>
			<div class="data">
				<div class="account">
					<div class="logo">
						<img src="TE.png" alt="TE.net - Alışveriş Platformu">
					</div>
					<div class="name"> <a href="/profil">Efe DOĞAN</a> </div>
					<div class="profile-detail">
						<ul>
							<li> <a href="/profil"> <i class="fa-solid fa-user"></i> Profil</a> </li>
							<li> <a href="/sepet"> <i class="fa-solid fa-basket-shopping fa-bounce"></i> Sepet</a> </li>
							<li> <a href="/favoriler"> <i class="fa-solid fa-star"></i> Favoriler</a> </li>
							<div class="line"></div>
							<li> <a href="/cikis" id="logout"> <i class="fa-solid fa-right-from-bracket"></i> Çıkış Yap</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>