<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <%-include('inc/header')%>
        
        <div id="root">
            <div class="kart">
                <img src="https://picsum.photos/300/200?random=1" alt="Resim 1">
                <h2>Başlık 1</h2>
                <p>Açıklama satırı 1</p>
                <button>Sepete Ekle</button>
                <button class="satınal">Hemen Satın Al</button>
              </div>
            
              <div class="kart">
                <img src="https://picsum.photos/300/200?random=2" alt="Resim 2">
                <h2>Başlık 2</h2>
                <p>Açıklama satırı 2</p>
                <button>Sepete Ekle</button>
                <button class="satınal">Hemen Satın Al</button>
              </div>
            
              <div class="kart">
                <img src="https://picsum.photos/300/200?random=3" alt="Resim 3">
                <h2>Başlık 3</h2>
                <p>Açıklama satırı 3</p>
                <button>Sepete Ekle</button>
                <button class="satınal" >Hemen Satın Al</button>
              </div>
              <div class="kart">
                <img src="https://picsum.photos/300/200?random=1" alt="Resim 1">
                <h2>Başlık 1</h2>
                <p>Açıklama satırı 1</p>
                <button>Sepete Ekle</button>
                <button class="satınal">Hemen Satın Al</button>
              </div>
            
              <div class="kart">
                <img src="https://picsum.photos/300/200?random=2" alt="Resim 2">
                <h2>Başlık 2</h2>
                <p>Açıklama satırı 2</p>
                <button>Sepete Ekle</button>
                <button class="satınal">Hemen Satın Al</button>
              </div>
            
              <div class="kart">
                <img src="https://picsum.photos/300/200?random=3" alt="Resim 3">
                <h2>Başlık 3</h2>
                <p>Açıklama satırı 3</p>
                <button>Sepete Ekle</button>
                <button class="satınal" >Hemen Satın Al</button>
              </div>
        </div>

          <%-include('inc/footer')%>
    </div>
</body>
</html>
